<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li>
      <a href="javascript:;" data-toggle="collapse" data-target="#producto"><i class="fa fa-fw fa-cloud"></i> Depositos <i class="fa fa-fw fa-caret-down"></i></a>
      <ul id="producto" class="collapse">
        <li>
          <a href="<%= new_product_path %>">Nuevo producto</a>
        </li>
        <li>
          <a href="<%= products_path %>">Mostrar productos</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<!-- /.navbar-collapse -->
</nav>
