<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Subcategoria</th>
      <th>Descripcion</th>
      <th>Stock</th>
      <th>Atributo</th>
      <th>Precio</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.categoria %></td>
        <td><%= product.subcategoria %></td>
        <td><%= product.descripcion %></td>
        <td><%= product.stock %></td>
        <td><%= product.atributo %></td>
        <td><%= product.precio %></td>
        <td><%= product.imagen %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
