<!DOCTYPE html>
<html>
<head>
  <title>Webportal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'theme/top' %>
<div id="page-wrapper">
<div class="container-fluid">

<%= yield %>

</div>
</div>

</body>
</html>
